<!--<nav class="light-blue lighten-1" role="navigation">-->
  <!--<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>-->
    <!--<ul class="right hide-on-med-and-down">-->
      <!--<li><a href="#">Navbar Link</a></li>-->
    <!--</ul>-->

    <!--<ul id="nav-mobile" class="side-nav">-->
      <!--<li><a href="#">Navbar Link</a></li>-->
    <!--</ul>-->
    <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
  <!--</div>-->
<!--</nav>-->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Welcome to Henry's Site</h1>
    <div class="row center">
      <h5 class="header col s12 light">It is now 2016.</h5>
      <h5 class="header col s12 light">You have</h5>
    </div>
    <h1 class="header center orange-text"><%= TimeDifference.between(DateTime.now, DateTime.new(2017).end_of_year).in_days %> Days</h1>
    <div class="row center">
      <h5 class="header col s12 light">to the end of 2017.</h5>
      <h5 class="header col s12 light">What are you doing today?</h5>
    </div>
    <div class="row center">
      <!--<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>-->
    </div>
    <br><br>
  </div>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">Software Engineer/Consultant/Leader aiming to enrich the lives of people around me through Science and Technology</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="https://www.payboy.biz">Payboy</a></li>
          <li><a class="white-text" href="https://www.conjur.tech">Conjur Technologies</a></li>
          <li><a class="white-text" href="https://www.shoheuken.com">Shoheuken</a></li>
          <li><a class="white-text" href="https://www.sensorla.co">Sensorla</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <span class="orange-text text-lighten-3" href="https://www.linkedin.com/in/henry-chua-40690284">Henry</span>
    </div>
  </div>
</footer>