<div class="container time-block-container">
  <h1 class="center flow-text">100 10-minute Blocks A Day</h1>
  <% 100.times do %>
      <div class="time-block">
        <div class="time-block-fill">
          <div class='wave -three'></div>
        </div>
      </div>
  <% end %>

  <h3 class="flow-text right">Inspired by <%= link_to 'an article on Wait But Why', 'http://waitbutwhy.com/2016/10/100-blocks-day.html', target: '_blank' %></h3>
</div>