$time-block-height: 50px;

.time-block-container {
  width: 630px;
  .time-block {
    background-color: green;
    height: $time-block-height;
    width: $time-block-height;
    display: inline-block;
    margin: 2px;
    position: relative;
    overflow: hidden;
    .time-block-fill {
      background-color: grey;
      height: 0px;
      width: $time-block-height;
    }
  }
}


@media #{$small-and-down} {
  .time-block-container {
    width: 315px;
  }
}




$box-height: $time-block-height;
$box-width: $time-block-height;
$wave-mult: 10;

.active {
  .wave {
    opacity: 1;
    position: absolute;
    top: -150%;
    left: 50%;
    background: grey;
    width: ($box-width*$wave-mult/3);
    height: ($box-height*$wave-mult/3);
    margin-left: -($box-width*$wave-mult/3/2);
    margin-top: -($box-height*$wave-mult/3/2);
    transform-origin: 50% 48%;
    border-radius: 88%;
    animation: drift 3000ms infinite linear;
  }
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}